
<div class="col-xs-12">
  <h1 class="siteTitle">Welkom op GamePlayParty.nl!</h1>
</div>

<div class="col-xs-12 col-s-9">
  <h2 class="homeText1">Gamen op een bioscoopscherm?</h3>
</div>
<div class="col-xs-12 col-s-3">
<img src="view/images/gameshowcase.jpg">
</div>

<div class="col-xs-12 col-s-3">
<img src="view/images/gamenOpBioscoopScherm.jpg">
</div>
<div class="col-xs-12 col-s-9">
  <h2 class="homeText1">Een game showcasen aan een publiek?</h3>
</div>


<div class="col-xs-12 col-s-12 ">
<a href="{appdir}/catalogus/catalogus">  <button type="button" class="homeButton1">Naar de bioscopen   catalogus!</button></a>
</div>

<div class="col-xs-12">
<h2 class="homeTitle2">Over ons!</h3>
</div>


<div class="col-xs-12 col-s-2">

</div>
<div class="col-xs-12 col-s-8">
<span>
  <h3 class="homeContent1">Wie zijn wij?</h3>
  <a href="{appdir}/content/content">
  <button class="homeButton2 col-xs-12 col-s-1" type="button" >Wijzig inhoud</button>
  </a>
  <p class="overOnsText">
{content}
</p>
</span>
</div>
<div class="col-xs-12 col-s-2">

</div>
<div class="col-xs-12">

</div>
<div class="col-xs-12">

</div>
