<div class="cinema-name">

	<h1>Bioscoop {bioscoopnaam} reserveren</h1>

	<form method="post">

		<div class="select-container">

		<select id="diensten" name="select-dienst" multiple>

			{tarieven}

		</select>

		<select id="reserveer-tijden" name="select-tijd" multiple>

			{tijden}

		</select>

		<div class="bottom-row">

			<h3>Voor hoeveel personen wilt u reserveren?*</h3>

			<div class="input-fields">

				<div class="input-block">

					<input type="text" name="tot-11"> (Ticket prijs per persoon per uur)

				</div>

				<div class="input-block">

					<input type="text" name="tot-17"> (Ticket prijs per persoon per uur)

				</div>

				<div class="input-block">

					<input type="text" name="na-18">  (Ticket prijs per persoon per uur)

				</div>

			</div>

			<div class="toeslagen">
					
					<select name="toeslagen-select" multiple>
						{toeslagen}
					</select>

			</div>

		</div>

	</form>

	</div>

</div>