.border {
    border: solid black 1px;
    padding: 10px;
}

.login--center{
	padding: 30px;
}

.formulier-buttons{
	margin-left: 30px;
}
.form-blok label{
	margin-left: 30%;
}
.knopjes{
	margin-left: 35%;
}
.headerBiosToevoegen{
	width: 66.66%;
	padding: 30px;
	border: 1px solid;
	margin-left: 16.65%;
	padding-left: 22%;
	vertical-align: center;
	font-size: 30px;
}