<!DOCTYPE html>
<html lang="nl">
<body>
    <main>
        <form action="index.php/{page}" method="post">

            <div class="float-l col-xs-2"><br></div>
            <div class="float-l col-xs-8 login--center">
                <label for="biosNaam">Bioscoop naam: </label>
                <input type="text" name="biosNaam" id="biosNaam" placeholder="Bioscoop Naam"><br><br>

                <label for="provincie">Provincie: </label>
                <input type="text" name="provincie" id="provincie" placeholder="Provincie"><br><br>

                <label for="adres">Adres: </label>
                <input type="text" name="adres" id="adres" placeholder="Jaarbeursboulevard 300, 3521 BC Utrecht"><br><br>

                <label for="telefoonnummer">telefoonnummer: </label>
                <input type="text" name="telefoonnummer" id="telefoonnummer" placeholder="030-1234567"><br><br>

                <input class="toevoeg-knop" type="submit" name="submit" value="Toevoegen">
                <a href="../Redacteur/overzicht">
                	cancel
            	</a>
            </div>
            <div class="float-l col-xs-2"><br></div>
        </form>
    </main>
</body>
</html>
